[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
click = "*"
schedule = ">=1.2.0"
zipfile36 = "*"
pytz = "*"
ariadne = "*"
pydantic = "*"
django-cors-headers = "*"
graphene-django = "2.16.0"
pyserial = "*"
appdata = "*"
channels="*"
graphene-django-subscriptions = "*"
channels-redis = "==2.4.2"
graphql-ws = "0.4.4"
redis = "*"
graphene-file-upload = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.11"