[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
click = "*"
schedule = ">=1.2.0"
zipfile36 = "*"
pytz = "*"
ariadne = "*"
pydantic = "*"
django-cors-headers = "*"
graphene-django = "*"
pyserial = "*"
appdata = "*"
graphene-subscriptions = "*"
channels="*"
graphene-django-subscriptions = "*"
channels-redis = "==2.4.2"
graphql-ws = "*"
redis = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
